.body{
    background-color: #1B1F32;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.main-text{
    font-family: Arial, sans-serif;
}

.list-of-benefits{
    list-style: none;
    padding:0;
}

.list-of-benefits li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.icons{
    width: 20px;
    height: 20px;
    background-color: #FD6C50;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 10px;
}

.button-suscribe{
    text-align: center;
    background-color:#1B1F32;
    color: white;
    padding: 20px 70px;
    border:midnightblue;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;

}

.input-field{
    display: block;
    margin-left: 20px;
    border-style:solid;
    border-width: 1.8px;
    border-radius: 8px;
    padding: 20px 75px;
    
}

.label-field{
    display: block;
    margin-bottom: 15px;
    margin-left: 20px;;
}

.main-title{

    display: grid;
    justify-content: center;
    font-family:sans-serif;font-weight: 540;
    color:#1B1F32;
    font-size: 44px;
}

.container{
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 20px;
}

.image{
    margin-left: 40px;
    margin-right: 5px;
}

.text{
    margin-left: 20px;
}

@media(max-width: 760px){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }

    .image{
        margin-left: 19px;
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .main-title{
        margin-top: 0px;
    }

    .input-field{
        margin-left: 0;
        text-align:center
        
        
    }

    .button-suscribe{
        margin-left: 0  ;
        padding: 20px 75px;
    }
}


    



